<nav class="navbar navbar-default top-navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://localhost:3000/"><img src="images/StyleWryte.png" width="175" id="logo"></a>
      <!-- <a class="navbar-brand" href="#">StyleWrite</a> -->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <button type="button" name="button" id="Login"> <li><%= link_to 'Sign Up', '#', :'data-toggle'=> "modal", :'data-target'=>"#myModal123" %></li></button>

      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="title fadein">Add a little <i> Style </i> to your writing</h1>
  <div class="">
    <button type="button" name="button" id="Login"><%= link_to 'Login', '#', :'data-toggle'=> "modal", :'data-target'=>"#loginModal" %></button>
  </div>
  <div class="">
    <img src="/images/arrow.png" width="30">
  </div>
</div>

<!-- Second Container (Grid) -->
<div class="container-fluid bg-2 text-center">
  <!-- <h3 class="margin fadein">Features Coming Soon!</h3><br> -->
  <div class="row">
    <div class="col-sm-4">
      <img src="images/pencil.png"  style="display:inline" alt="Camera" width="100">
      <h4 class="fadein subtitle">Create engaging content<br> for your readers</h4>
    <!--  <h6 class="fadein">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h6>-->
    </div>
    <div class="col-sm-4">
      <img src="images/lightbulb.png" style="display:inline" alt="Camera" height="100">
      <h4 class="fadein subtitle">Discover better<br> writing techniques</h4>
    <!--  <h6 class="fadein">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h6>-->
    </div>
    <div class="col-sm-4">
      <img src="images/book.png" style="display:inline" alt="Camera" width="100">
      <h4 class="fadein subtitle">Hone your skills<br> as a writer</h4>
      <!--<h6 class="fadein">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h6>-->
    </div>
  </div>
</div>
  <!-- Third Container -->
<div class="container-fluid bg-3 text-center">
  <!-- <h3 class="margin fadein">Who Are We?</h3> -->
  <!-- <h3 class="fadein">Your Writing Styler</h3> -->
</div>

<div class="container-fluid text-center" id="copyright">
    <h6>2017 WYNCODE/STYLEWRITE, INC</h6>
</div>

<%= render partial: 'sessions/login' %>
<%= render partial: "users/newmodal" %>
