// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

.welcome-back {
  color: black;
}

table {
  color: black;
}

th {
  border-bottom: 0 !important;
  padding-right: 15em !important;
}

.table {
  display: block;
  table-layout: fixed;
  white-space:nowrap;
  display: inline-grid;
}

.table-striped {
  margin-left: 8%;
  margin-bottom: 0;
  background-color: rgba(95, 100, 119, 0.7);
  background-size: cover;
}

.btn-block {
  margin-left: 8%;
  width: 83%;
}

.class1 {
  background-image: url(/images/students.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.modal-title #myModalLabel {
  background-color: gray;

}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  padding: 0;
}

tr {
  width: 970px !important;
}

.btn a {
  color: white !important;
}

.new-modal-body {
  margin-left: 13em !important;
  display: table-caption !important;
}

div .actions {
  margin-left: 7em !important;
}

textarea {
  height: 10em;
  width: 20em;
}


.boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
}

.boxes #left {
  //border-right: 1px black solid;
  width: 576px;
  padding: 1em;
}

#right {
  height: 100%;
  width: 576px;
  padding: 1em;
  border-left: 1px black solid;
}

mark {
  background-color: rgba(253, 5, 5, 33.65);
}

ul {
  list-style-type: none;
}
