// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .user-documents {
//   background-image: url(computercoffee.png);
//   background-size: cover;
// }

.welcome-back {
  color: white;
}

table {
  color: white;
}

.class1 {
  background-image: url(/images/computercoffee.png);
  background-size: cover;
}
