// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: Roboto !important;
}

html {
  height: 100%;
}

.doc-navigation {
  margin: 0;
  border-radius: 0;
  background-color: rgb(13, 65, 130);
  border-color: rgb(13, 65, 130);
}

.welcome-back {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 50px;
}

table {
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.table-title{
  padding: 20px;
}
th {
  font-size: 1.5em;
}

.table-hover {
  // margin-left: 8%;
  margin-bottom: 0;
  background-color: white;
  border-radius: 5px;
  // background-color: rgba(13, 65, 130, 0.75);
  background-size: cover;
}

.btn-block {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-show {
  background-color: #e89d00;
}

.class1 {
  // background-image: url(/images/students.jpg);
  background-color: #edeef0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.modal-title #myModalLabel {
  background-color: gray;

}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  padding: 0px;
}

tr {
  // width: 970px !important;
}

.btn a {
  color: white !important;
}

.new-modal-body {
  // margin-left: 13em !important;
  // display: table-caption !important;
  padding: 30px;
}

.actions {
  // margin-left: 7em !important;
}

textarea {
  height: 10em;
  width: 20em;
}


.boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
}

.left-box{
  height: 500px;
  width: 110%;
  padding: 10px;
  // border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  overflow:auto;
}

.navbar {
  z-index: 70;
}
.boxes #left {
  //border-right: 1px black solid;

  width: 576px;
  padding: 2em;
}
.right-box{
  margin-left: 20px;
  height: 500px;
  width: 110%;
  padding: 10px;
  // border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  overflow:auto;
}

#right {
  // height: 2000px;
  width: 576px;
  padding: 2em;
}

mark {
  background-color: rgba(253, 5, 5, 33.65);
}

ul {
  list-style-type: none;
}

.d-block {
  display: block;
}
