// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div .modal-header {
  display: none;
}

div .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logger {
  margin-left: 1em;
}
