// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div .modal-header {
  display: none;
}

div .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logger {
  margin-left: 7em;
}

.Login2{
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 60px;
  text-decoration: none;
  text-align: center;
  // margin: 70px;
  background: rgba(222,157,32, 0.6);
}

.Login3{
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 60px;
  text-decoration: none;
  text-align: center;
  // margin: 70px;
  background: rgba(222,157,32, 0.6);
}
