// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-1 {
  color: white;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 550px;
}

.bg-2 {
  color: #1D2731;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  // padding-top: 70px;
  // padding-bottom: 70px;
  padding: 70px;
}

.bg-3 {
  color: white;
  background-image: url(/images/bg2-text.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 175px;
  padding-bottom: 175px;
}

.fadein {
  // text-shadow: 1px 1px black;
  animation: fadeInDown 3s;
}

.margin {
  font-size: 50px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-navigation {
  margin: 0;
  border-radius: 0;
  position: absolute;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}

.title {
  margin-top: 100px;
  font-size: 50px;
}

.subtitle{
  margin: 20px;
}

i{
  color: #de9d20;
  margin: 0 0.2em;
}


#logo{
  margin: 0;
  width: 255px;
}

#Login a{
  color: #fff !important;
  &:hover{
    text-decoration: none;
  }
}

#Login{
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 60px;
  text-decoration: none;
  text-align: center;
  margin: 35px;
  background: rgba(222,157,32, 0.6);
}

#copyright{
  padding-top: 20px;
  padding-bottom: 20px;
}

.notice {
  color: red;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
