// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-1 {
  color: white;
  background-image: url(/images/writer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 550px;
}

.bg-2 {
  color: #1D2731;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-top: 70px;
  // padding-bottom: 70px;
}

.bg-3 {
  color: white;
  background-color: #0B3C5D;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 70px;
  padding-bottom: 70px;
}

.img-circle {
  background-color: #328CC1
}

.fadein {
  text-shadow: 1px 1px black;
  animation: fadeInDown 3s;
}

.margin {
  font-size: 50px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-navigation {
  margin: 0;
  border-radius: 0;
  background-color: #0B3C5D;
  border-color: #0B3C5D;
}

.title {
  font-size: 75px;
}

.quote {
  color: white;
  border-left: none;
}
